body{
background-image:url('bgg.jpg');
background repeat: no repeat;
background-size:cover;
font-family: "Lucida Console", "Courier New", monospace;
border-style:double;
}

h1{
background-color: Aquamarine;
color:black;
text-shadow:Aqua;
text-align: center;
opacity:100%;
border-style:double;
width:1200px;
height:50px;
}

h3{
background-color:Aquamarine;
color:black;
text-shadow:Aqua;
opacity:100%;
}

.zoom:hover {
-ms-transform: scale(1.3); /* IE 9 */
-webkit-transform: scale(1.3); /* Safari 3-8 */
transform: scale(1.01);
}